@font-face {
    font-family: 'Aller bold';
    src: url('../fonts/aller.bold-webfont.woff2') format('woff2'),
    url('../fonts/aller.bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aller light';
    src: url('../fonts/aller.light-webfont.woff2') format('woff2'),
    url('../fonts/aller.light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/droid-sans.regular-webfont.woff2') format('woff2'),
    url('../fonts/droid-sans.regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
