#customers {
  margin-bottom: 30px;

  h2 {
    @include title;
  }

  .subtitle {
    @include subtitle;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    li {
      display: block;

      a {
        display: block;
        margin-bottom: 20px;
        width: 135px;

        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
